fastapi
uvicorn[standard]
langgraph
langchain
langchain-core==0.2.5
langchain-openai==0.1.8
langchain-google-genai==1.0.5
langchain-community==0.2.1
langchain-text-splitters==0.2.1
python-dotenv
redis
docker
neo4j
tiktoken
sentence-transformers
numpy
thefuzz[speedup]
pydantic
google-generativeai
cohere
tavily-python==0.3.3
requests==2.31.0
pandas 
aiofiles
python-multipart 
langsmith==0.1.63 