fastapi
uvicorn[standard]
langgraph
langchain
langchain-core
langchain-openai
langchain-google-genai
python-dotenv
redis
docker
neo4j
tiktoken
sentence-transformers
numpy
thefuzz[speedup]
pydantic
google-generativeai
cohere
langchain_cohere
tavily-python
pandas
aiofiles
python-multipart 