fastapi
uvicorn[standard]
langgraph
langchain
langchain-core
langchain-openai
python-dotenv
redis
docker
neo4j
tiktoken
sentence-transformers
scikit-learn
numpy
thefuzz[speedup]
pydantic
google-generativeai
cohere
langchain_cohere
tavily-python
pandas 